<div class="container">

    <div class="row" style="margin-top:50px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" ng-submit="login()">
                <fieldset>
                    <h2>Sign In</h2>
                    <hr />
                    <div class="form-group">
                        <input type="text" ng-model="user.username" name="username" id="username" class="form-control input-lg" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="user.password" name="password" id="password" class="form-control input-lg" placeholder="Password" required>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">Sign In</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="/register" class="btn btn-lg btn-primary btn-block">Register</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>