

<section id = "secTodoApp">

	<div class="container">
		<div class="col-sm-4">

			<!-- Form to create Todo -->
			<div id="todo-form" class="row">
				<div class="col-sm-11 col-sm-offset-1 text-center">
					
					<form name="fmCreateTodo" novalidate>
						
						<div class="form-group">
							<input type="text" class="form-control input-lg text-center" placeholder="Create your task here!" 
							ng-model="formData.text" ng-required="true">
						</div>

						<!-- Form will be invalid unless the input box has content only then will the Button become active-->
						<button type="submit" class="btn btn-primary btn-lg" ng-disabled="fmCreateTodo.$invalid" 
								ng-click="createTodo()">Add Task</button>
					</form> <!-- @END/ form -->

				</div> <!-- @END/ .col -->
			</div> <!-- @END/ #todo-form -->
		</div>

		<div class="col-sm-8">

			<!-- List of Todo's -->
			<div id="todo-list" class="row">
				<div class="col-sm-12">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="panel-title"><b>Board</b></h1>
						</div>
						<div class="panel-body panel-board">

							<!-- Loop through todos in $scope.todos -->
							<div class="row">
								<div class="col-sm-6">
									<div class="panel panel-info">
										<div class="panel-heading">
											<h3 class="panel-title"><b>ToDo</b></h3>
										</div>
										<div class="panel-body panel-body-gray">
											<ul ui-sortable="boardPanel" ng-model="todos" class="list-group">
												<li class="list-group-item" ng-repeat="todo in todos | filter: { done: false } track by $index">
													<a class="btn btn-xs"
														ng-click="deleteTodo(todo.id)">
														X
													</a>
													<input type="text"
														name="ibDone"
														ng-model= "todo.text"
														ng-focus="focus=true"
														value="{{todo.text}}"
														class="notDoneClass">
													<button class="btn btn-info btn-xs"
														ng-class="{'hidden':!focus}"
														ng-click="editTodo(todo.id, todo.text, todo.done); focus=false">
														Update
													</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="panel panel-success">
										<div class="panel-heading">
											<h3 class="panel-title"><b>Done</b></h3>
										</div>
										<div class="panel-body panel-body-gray">
											<ul ui-sortable="boardPanel" ng-model="todos" class="list-group">
												<li class="list-group-item" ng-repeat="todo in todos | filter: { done: true } track by $index">
													<a class="btn btn-xs"
														ng-click="deleteTodo(todo.id)">
														X
													</a>
													<input type="text"
														name="ibDone"
														ng-model= "todo.text"
														ng-focus="focus=true"
														value="{{todo.text}}"
														class="doneClass">
													<button class="btn btn-info btn-xs"
														ng-class="{'hidden':!focus}"
														ng-click="editTodo(todo.id, todo.text, todo.done); focus=false">
														Update
													</button>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>


	</div> <!-- @END/ .container -->

</section> <!-- @END/ section -->