<div class="container">

    <div class="row" style="margin-top:50px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" ng-submit="register()">
                <fieldset>
                    <h2>Register</h2>
                    <hr />
                    <div class="form-group">
                        <input type="email" ng-model="user.email" name="email" id="email" class="form-control input-lg" placeholder="Email"  required>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="user.username" name="username" id="username" class="form-control input-lg" placeholder="Username"  required>
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="user.password" name="password" id="password" class="form-control input-lg" placeholder="Password"  required>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button type="submit" class="btn btn-lg btn-success btn-block" value="Register">Register</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="#/login" class="btn btn-lg btn-primary btn-block">Sign In</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>