
html { 
	overflow-y:scroll; 
}

#todo-list { 
	margin-bottom:30px; 
}

#todo-form { 
	margin-bottom:50px; 
}

input {
	border: none;
}


.doneClass {
	text-decoration: line-through;
	color: red;
}

.notDoneClass {
	color: green;
}

/* navbar */
.navbar-blue {
    background-color: #205081;
    border-color: #E7E7E7;
}
/* Title */
.navbar-blue .navbar-brand {
    color: #fff;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #fff;
}
/* Link */
.navbar-blue .navbar-nav > li > a {
    color: #fff;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #E7E7E7;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
    color: #333;
    background-color: #fff;
}
/* Caret */
.navbar-blue .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-blue .navbar-nav > .dropdown > a:hover .caret,
.navbar-blue .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-blue .navbar-nav > .open > a .caret,
.navbar-blue .navbar-nav > .open > a:hover .caret,
.navbar-blue .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* Mobile version */
.navbar-blue .navbar-toggle {
    border-color: #DDD;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #296ca3;
}
.navbar-blue .navbar-toggle .icon-bar {
    background-color: #296ca3;
}
@media (max-width: 767px) {
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}


.panel > .panel-body-gray {
    background: #f5f5f5;
}

.list-group > .list-group-item {
    cursor: move;
}