<!--===================================================================================
Michael Cullen 
Todo CRUD
index.html

May 2015
Working - (Tá se ag obair)

Ref.
http://scotch.io/tutorials/javascript/creating-a-single-page-todo-app-with-node-and-angular
http://tylerhenkel.com/build-an-angular-todo-app-with-a-node-backend/
=====================================================================================-->

<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<title>Node,Express & Angular with PostgreSQL</title>
	
	<!-- CSS -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css"> <!-- load bootstrap -->
</head>


<body ng-app="postgreDbApp"> 

	<nav class="navbar navbar-blue navbar-static-top" ng-controller="MenuController">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">CRUD TODO APP</a>
			</div>

			<ul ng-show="currentUser" class="nav navbar-nav navbar-right">
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.username}} <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#" ng-click="logout()">Logout</a></li>
				</ul>
				</li>
			</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">

		<div class="row" ng-show="flashMessage !== ''">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="alert" ng-class="{'alert-danger':isError, 'alert-success':!isError}" role="alert">
					{{flashMessage}}
				</div>
			</div>
		</div>

		<!-- View template will be shown here -->
	    <div class="container" ng-view=""></div>

	    <!-- Footer -->
		<div class="text-center text-muted">
			<p>CRUD PostgreSQL Example</p>
		</div>

	</div> <!-- @END/ .container -->


	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="bower_components/angular-ui-sortable/sortable.js"></script>
	<!-- App JS -->
	<script src="js/app.js"></script>
	<script src="js/services/services.js"></script>
	<script src="js/controllers/controllers.js"></script>

</body>
</html>
